<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>
        <div class="sectionpage">
            <div class="">
                {% for i in details %}
                    <h1>{{ i.nama }}</h1>
                {% endfor %}
            </div>
        </div>
        <div class="sectionpage matkul">
            {% for i in details %}
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                      <div class="card-title"><p>Nama Mata Kuliah:</p></div>
                      <p class="card-text">{{ i.nama }}</p>
                      <div class="col-sm-4"><h5>Kelas :</h5></div>
                      <div class="col-sm-8"><p>{{ i.kelas }}</p></div>
                      <div class="col-sm-4"><h5>Dosen :</h5></div>
                      <div class="col-sm-8"><p>{{ i.dosen }}</p></div>
                      <div class="col-sm-4"><h5>Jumlah SKS:</h5></div>
                      <div class="col-sm-8"><p>{{ i.sks }}</p></div>
                      <div class="col-sm-4"><h5>semester :</h5></div>
                      <div class="col-sm-8"><p>{{ i.smt }}</p></div>
                      <div class="col-sm-12 d-flex align-items-end justify-content-end">
                        <form method="POST" action="{% url 'matkul' %}">
                          {% csrf_token %}
                          <input name="id" value="{{i.id}}" type="hidden">
                          <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem;">Delete</button>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </body>

</html>

{% endblock %}