<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    {% include 'header.html' %}
    <title>Farah Nazihah</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content %}{% endblock %}
  </body>
